PORT=8000
MONGODB_URI=mongodb+srv://kunald07:<db_password>@cluster0.g5nw4ck.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d